$sizes: (
  sm: 12px,
  normal: 16px,
  md: 24px,
  lg: 36px,
  xl: 48px,
  xxl: 160px,
);

@mixin generate-padding($direction: null) {
  @each $size, $value in $sizes {
    .padding-#{$direction}-#{$size} {
      @if $direction {
        padding-#{$direction}: $value;
      } @else {
        padding: $value;
      }
    }
  }
}
