body {
  background-image: url(../img/sfondo.png);
  font-family: "Poppins", sans-serif;
}
.all-container {
  margin: 20px;
}
.topbar {
  background: rgb(0, 154, 188);
  background: linear-gradient(
    180deg,
    rgba(0, 154, 188, 1) 0%,
    rgba(11, 110, 136, 1) 100%
  );
  text-align: center;
}

.logo {
  width: 300px;
  padding: 30px;
  display: inline-block;
}

.topbar-title {
  text-align: center;
  font-size: 1.4rem;
}
nav {
  text-align: center;
  padding: 10px;
}
h1 {
  color: white;
}
.topbar li {
  padding: 5px;
}
.topbar a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}
.topbar ul {
  padding: 20px;
}
.main-container {
  background-color: white;
  margin: 40px 0;
  padding: 20px;
  box-shadow: 10 10 10 10px black;
  font-size: 1.5rem;
  line-height: 2.5rem;
  border: 1px solid black;
}
.main-container p {
  margin: 20px 0;
}
.main-container ul li {
  list-style: disc;
  margin-left: 30px;
}
.titolo-principale {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 15px 0;
  line-height: 4rem;
}
.autore {
  color: gray;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.main-container ul li span {
  background-color: rgb(210, 210, 210);
  border: 0.5px solid black;
  border-radius: 10px;
}
.color-text {
  color: #aa2072;
}
ol {
  list-style: decimal;
  margin-left: 30px;
}
table {
  border-bottom: 2px solid #507acf;
  margin-bottom: 15px;
}
th {
  background-color: #507acf;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
}
td {
  padding: 10px;
  text-align: center;
}
iframe {
  width: 420px;
  border-radius: 20px;
}
table p a {
  color: #507acf;
}
.newsletter {
  background-color: rgb(216, 216, 216);
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 15px;
  margin: 20px 0;
}
.news-title {
  text-align: center;
  font-size: 2rem;
  padding: 20px;
}
form {
  text-align: center;
}
input {
  width: 70%;
}
button {
  background-color: #507acf;
  color: white;
}
h3 {
  text-align: center;
  font-size: 2rem;
  padding: 20px;
}
.articoli {
  background-color: rgb(216, 216, 216);
  margin: 15px 0;
  border: 1px solid gray;
}
.articoli a {
  padding: 20px;
}
.articoli p {
  font-size: 1.2rem;
  margin: 0;
}
.category {
  padding-left: 15px;
}
.date {
  text-align: right;
  padding: 15px;
}
.footer-container {
  background: rgb(0, 85, 102);
  background: linear-gradient(
    180deg,
    rgba(0, 85, 102, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  text-align: center;
}
