<header
  class="navbar navbar-dark bg-dark d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
>
  <a
    href="/"
    class="d-flex align-items-center ms-3 mb-3 mb-md-0 me-md-auto h2 text-white link-body-emphasis text-decoration-none"
  >
    AUTODEALER
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a routerLink="/" class="nav-link text-white" aria-current="page">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/fiat" class="nav-link text-white">Fiat</a>
    </li>
    <li class="nav-item">
      <a routerLink="/audi" class="nav-link text-white">Audi</a>
    </li>
    <li class="nav-item">
      <a routerLink="/ford" class="nav-link text-white">Ford</a>
    </li>
  </ul>
</header>
