body {
  font-family: "Open Sans", sans-serif;
  color: #393d41;
  font-size: 1.2rem;
  line-height: 1.65;
}
header {
  background-color: black;
}
header img {
  width: 180px;
  padding: 20px;
}
h1,
h2,
h3 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}
.under-topbar {
  background-image: url(../images/banner.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}
.under-topbar h1 {
  font-size: 2.8rem;
  line-height: 3rem;
  padding-top: 150px;
  padding-bottom: 50px;
}
.under-topbar p {
  font-size: 1.5rem;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 50px;
}
.under-topbar a {
  background-color: #f04c2f;
  color: white;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  padding: 15px 50px;
  border-radius: 10px;
  margin-bottom: 150px;
}
.section-container {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
#notebook {
  display: inline-block;
  margin: 0 auto;
  border-radius: 50%;
  width: 380px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section-group {
  display: inline-block;
  vertical-align: top;
  height: 380px;
  margin-left: 50px;
  margin-right: 50px;
}
.section-single {
  text-align: left;
  margin: 20px 0;
  font-size: 1.5rem;
}

.section-single p {
}
.garanzia-container {
  background-color: #e22d0e;
  color: white;
  text-align: center;
  padding: 100px 0;
}
.garanzia-container h2 {
  color: white;
  font-size: 2rem;
}
.garanzia-container .mesi {
  font-style: oblique;
  margin: 15px 0;
}
#mario {
  margin: 0;
  font-size: 1.6rem;
}
#ceo {
  margin: 0;
}
aside {
  display: inline-block;
  padding: 70px;
}
.info-container {
  border: 1px solid #dee1e3;
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 20px;
}
.info-container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.info-container h3 {
  font-size: 1.3rem;
  padding-top: 20px;
}
.info-container p {
  padding: 30px;
  margin-bottom: 30px;
}
footer {
  background-color: #25a2c3;
  color: white;
  text-align: center;
}
footer h3 {
  color: white;
  font-size: 2.5rem;
  padding-top: 50px;
  padding-bottom: 30px;
}
footer hr {
  width: 230px;
  margin: 40px 0;
}
.footer-container {
  display: inline-block;
  text-align: left;
}
.contacts {
  text-decoration: underline;
}
.copy {
  font-size: 1rem;
  padding-bottom: 50px;
}
.copy a {
  color: white;
}
