<footer class="py-3 my-4 footer footer-dark bg-dark">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a routerLink="/" class="nav-link px-2 text-white">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/fiat" class="nav-link px-2 text-white">Fiat</a>
    </li>
    <li class="nav-item">
      <a routerLink="/audi" class="nav-link px-2 text-white">Audi</a>
    </li>
    <li class="nav-item">
      <a routerLink="/ford" class="nav-link px-2 text-white">Ford</a>
    </li>
  </ul>
  <p class="text-center text-white">© 2024 AUTODEALER, Inc</p>
</footer>
