<div class="row">
  <div class="col-4" *ngFor="let telefono of telefoni">
    <div class="card" style="width: 18rem">
      <img
        [src]="telefono.thumbnail"
        class="card-img-top"
        alt="Immagine del prodotto"
      />
      <div class="card-body">
        <h5 class="card-title">{{ telefono.title }}</h5>
        <p class="card-text">{{ telefono.description }}</p>

        <p class="card-text">{{ telefono.price | currency }}</p>
        <button (click)="aggiungiAiPreferiti(telefono)" class="btn btn-warning">
          Aggiungi ai Preferiti
        </button>
      </div>
    </div>
  </div>
</div>
