.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 600px; /* Raddoppiato da 300px a 600px */
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  padding: 20px;
  text-align: center; /* Centra il testo */
}

.card-body {
  padding: 40px; /* Aumentato per mantenere proporzioni con la card più grande */
}

.form-group {
  margin-bottom: 20px;
}

.btn-success {
  width: 100%;
}
