body {
  background-color: #666666;
  display: flex;
}

.postit-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 1000px;
  margin-top: 120px;
  gap: 4.5%;
  height: 80%;
  width: 100%;
}

.postit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Indie Flower", cursive;
  font-size: 3rem;
  width: 350px;
  height: 250px;
  padding: 10px;
  margin-bottom: 60px;
  box-shadow: 6px 8px 30px black;
  transition: transform 0.5s ease;
  animation-name: postSplash;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.giallo {
  background-color: #f9fac8;
  transform: rotate(-5deg);
}

.verde {
  background-color: #c4f1c5;
  transform: rotate(5deg);
}
.lilla {
  background-color: #c4c5ef;
  transform: rotate(-7deg);
}

.giallo:hover {
  transform: rotate(0deg);
  transform: scale(1.2, 1.2);
}
.lilla:hover {
  transform: rotate(0deg);
  transform: scale(1.2, 1.2);
}
.verde:hover {
  transform: rotate(0deg);
  transform: scale(1.2, 1.2);
}

@keyframes postSplash {
  from {
    transform: scale(10) translateZ(50px);
  }
  to {
    transform: scale(1) translateZ(0px);
  }
}
