/* IMPOSTAZIONI GENERALI */
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  padding: 15px;
  background-image: url("../img/sfondo.png");
  background-position: center center;
}

* {
  box-sizing: border-box;
}

hr {
  display: none; /* Rimuove l'elemento */
}

header {
  background: linear-gradient(
    180deg,
    rgba(0, 160, 198, 1) 0%,
    rgba(3, 109, 134, 1) 68%
  );
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 3px 3px #444;
  margin-bottom: 1.5em;
  padding: 2em 1.5em;
  z-index: 100;
}

header nav ul {
  margin: 0;
}

header nav li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

header nav li:last-child {
  margin-right: 0;
}

header nav li a {
  color: white;
  text-decoration: none;
}

header nav li a:hover {
  color: red;
}

header nav li a::before {
  content: "\22c6\0020";
}

main {
  background-color: #fff;
  box-shadow: 0 3px 3px #444;
  padding: 2em 1em;
  margin-bottom: 1.5em;
}

.maintext-container {
  position: relative;
}

section {
  background-color: #e3e3e3;
  padding: 1.5em 1em;
  margin-bottom: 2em;
  position: relative;
}

section h2 {
  text-align: center;
  color: #333;
  font-size: 1.4rem;
  margin-bottom: 1.7rem;
  font-weight: bold;
  background-color: #a3a3a3;
  padding: 0px 1em;
}

h1 {
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}

p,
address,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.2em;
}

h1 + p {
  color: #a0a0a0;
}

.imgLeft {
  margin-right: 20px;
  border: 4px solid #00a0c6;
  outline: 4px solid #a02571;
  padding: 3px;
  float: left;
}

ul,
ol {
  margin-left: 2em;
}

a {
  color: #00a0c6;
  font-weight: bold;
}

strong {
  color: #a02571;
  font-weight: bold;
}

code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}

iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}

table {
  margin-bottom: 2em;
}

caption {
  font-weight: bold;
  font-style: italic;
}

thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}

th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f6bca;
}

input {
  padding: 5px;
  border: 0;
  border-bottom: 1px dashed #333;
}

button {
  padding: 4px 7px;
  background-color: #3f6bca;
  border: 0;
  color: white;
  font-weight: bold;
}

.section-wrap {
  position: relative;
}

.news-button {
  width: 150px;
  position: absolute;
  top: -20px;
  left: 20px;
}

aside h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

aside div {
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  margin-bottom: 1em;
  padding: 1em;
}

aside div p:last-child {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
}

footer {
  background: linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(5, 85, 103, 1) 68%
  );
  box-shadow: 0 3px 3px #444;
  color: #f0f0f0;
  padding: 1em;
  text-align: center;
  font-size: 1.2rem;
}

footer a {
  color: fuchsia;
}

.button1 {
  width: 50px;
  height: 50px;
  background-color: white;
  opacity: 0.5;
  border: 2px solid black;
  position: fixed;
  top: 90vh;
  right: -7px;
  z-index: 60;
  border-radius: 10px;
}
.button2 {
  width: 50px;
  height: 50px;
  background-color: white;
  opacity: 0.5;
  border: 2px solid black;
  position: fixed;
  top: 83vh;
  right: -7px;
  z-index: 60;
  border-radius: 10px;
}

.button3 {
  width: 50px;
  height: 50px;
  background-color: white;
  opacity: 0.5;
  border: 2px solid black;
  position: fixed;
  top: 76vh;
  right: -7px;
  z-index: 60;
  border-radius: 10px;
}
@media (max-width: 434px) {
  .underline {
    display: none;
  }
}

@media (min-width: 435px) {
  .underline {
    position: absolute;
    top: 90%;
    left: 0;
    opacity: 0.5;
  }
  .button1 i {
    font-size: 1.8rem;
    position: absolute;
    color: #f7555d;
    top: 8px;
    right: 9px;
  }
  .button2 i {
    font-size: 1.8rem;
    position: absolute;
    color: #2d5fbf;
    top: 8px;
    right: 9px;
  }
  .button3 i {
    font-size: 1.8rem;
    position: absolute;
    color: #2d5fbf;
    top: 8px;
    right: 9px;
  }
}
@media (min-width: 700px) {
  .underline {
    position: absolute;
    top: 85%;
    left: 45%;

    opacity: 0.5;
  }
  .button1 {
    width: 50px;
    height: 50px;
    background-color: white;
    opacity: 0.5;
    border: 2px solid black;
    position: fixed;
    top: 90vh;
    right: -7px;
    z-index: 60;
    border-radius: 10px;
  }

  .button2 {
    width: 50px;
    height: 50px;
    background-color: white;
    opacity: 0.5;
    border: 2px solid black;
    position: fixed;
    top: 10vh;
    right: -7px;
    z-index: 1000;
    border-radius: 10px;
  }

  .button3 {
    width: 50px;
    height: 50px;
    background-color: white;
    opacity: 0.5;
    border: 2px solid black;
    position: fixed;
    top: 3vh;
    right: -7px;
    z-index: 1000;
    border-radius: 10px;
  }
  .button1 i {
    font-size: 1.8rem;
    position: absolute;
    top: 8px;
    right: 9px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 800px) {
  header {
    padding: 1em;
    position: sticky;
    top: 0;
  }

  footer {
    padding: 1em 12em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header {
    text-align: left;
  }

  header .brand,
  header nav,
  header .brand p {
    display: inline-block;
  }

  header .brand {
    width: 75%;
  }

  header .brand img,
  header .brand p {
    vertical-align: middle;
  }

  header .brand p {
    margin-bottom: 0;
  }

  .underline {
    position: absolute;
    top: 80%;
    left: 28%;
  }

  section,
  iframe {
    display: inline-block;
    width: 50%;
    margin-inline: -2px;
    vertical-align: middle;
  }

  iframe {
    height: 267px;
  }

  aside div {
    display: inline-block;
    width: 33.333%;
    margin-inline: -2px;
  }

  header,
  main,
  footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Print styles */
@media print {
  body,
  main,
  thead tr,
  tbody tr,
  header,
  article section,
  iframe,
  aside,
  footer,
  .social,
  .toTop {
    display: none;
  }
}
